<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>QuizTask</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstTask</display-name>
    <servlet-name>FirstTask</servlet-name>
    <servlet-class>com.vj.servlets.FirstTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstTask</servlet-name>
    <url-pattern>/FirstTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondTask</display-name>
    <servlet-name>SecondTask</servlet-name>
    <servlet-class>com.vj.servlets.SecondTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondTask</servlet-name>
    <url-pattern>/SecondTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdTask</display-name>
    <servlet-name>ThirdTask</servlet-name>
    <servlet-class>com.vj.servlets.ThirdTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdTask</servlet-name>
    <url-pattern>/ThirdTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FourthTask</display-name>
    <servlet-name>FourthTask</servlet-name>
    <servlet-class>com.vj.servlets.FourthTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FourthTask</servlet-name>
    <url-pattern>/FourthTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FifthTask</display-name>
    <servlet-name>FifthTask</servlet-name>
    <servlet-class>com.vj.servlets.FifthTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FifthTask</servlet-name>
    <url-pattern>/FifthTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultTask</display-name>
    <servlet-name>ResultTask</servlet-name>
    <servlet-class>com.vj.servlets.ResultTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultTask</servlet-name>
    <url-pattern>/ResultTask</url-pattern>
  </servlet-mapping>
</web-app>